# Ignore built files
*.o
*.out
*.gch
*.exe

# Ignore local folders
archive/fun/
archive/yap/
EVAL/
.svn/
fileio/fileio
debug_lab01/buggy
my_name_is/who.txt
string/log_1_tiny.txt
string/log_2_small.txt
string/log_3_medium.txt